* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to right, #da22ff, #9733ee);
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 3.5rem;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.3rem;
}

#game {
  width: 330px;
  height: 530px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow-y: hidden;
  outline: 1px solid #000;
}

#game2 {
  width: 550px;
  height: 530px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow-y: hidden;
  outline: 1px solid #000;
}

#game3 {
  width: 440px;
  height: 600px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow-y: hidden;
  outline: 1px solid #000;
}


#hero {
  background-color: lightsalmon;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  left: 110px;
}

#blocks {
  background-color: black;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement infinite linear;
}


#blocks2 {
  background-color: gray;
  width: 110px;
  height: 55px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement infinite linear;
}

#blocks3 {
  background-color: blue;
  width: 110px;
  height: 220px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement infinite linear;
}

#blocks4 {
  background-color: red;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement2 infinite linear;
}

#blocks12 {
  background-color: black;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement3 infinite linear;
}

#blocks22 {
  background-color: gray;
  width: 110px;
  height: 55px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement4 infinite linear;
}

#blocks32 {
  background-color: blue;
  width: 110px;
  height: 220px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement4 infinite linear;
}


#blocks42 {
  background-color: red;
  width: 110px;
  height: 110px;
  border-radius: 15px;
  position: absolute;
  animation: 1.5s movement5 infinite linear;
}

@keyframes movement {
  0% {
    top: -110px;
  }

  100% {
    top: 530px;
  }
}

@keyframes movement2 {
  0% {
    top: -110px;
  }

  60% {
    top: 530px;
  }
  100% {
    top: 530px;
  }
}

@keyframes movement3 {
  0% {
    top: -110px;
  }
  50% {
    top: 600px;
  }
  100% {
    top: 600px;
  }
}

@keyframes movement4 {
  0% {
    top: -330px;
  }
  65% {
    top: 600px;
  }
  100% {
    top: 600px;
  }
}

@keyframes movement5 {
  0% {
    top: -1000px;
  }
  80% {
    top: 600px;
  }
  100% {
    top: 600px;
  }
}